

.box1 {
    width: 400px;
    height: 400px;
    background-color: red;
    transition: all 10s;

    /* display: inline; */
}

.box1:hover {
    rotate: 360deg;
}

.box2 {
    width: 400px;
    height: 400px;
    background-color: blue;
    /* display: inline; */
}