

.box1 {
    width: 400px;
    height: 400px;
    background-color: red;
    transform: rotateY(20deg);
    transition: all 0.5s;

    /* display: inline; */
}

.box1:hover {
    transition: all 0s;
    transform: rotateY(40deg);
    background-color: blueviolet;
}

.box2 {
    width: 400px;
    height: 400px;
    background-color: blue;
    /* display: inline; */
}